@media only screen and (max-width:575.5px) {
        p{
            font-size: 12px;
            padding: 5px;
        }
        h1{
            font-size: 45px;
            text-align: left;
            font-weight:700;
            text-align: center;
        }
        .font{
            font-size: 13px;

        }
        .center{
            text-align: center;
        }
        
        .feature{
            text-align: center;
            font-size:9px;
        }
        
}

@media only screen and (min-width:576px) {
    .margin{
        margin: 30px;
    }
    h1{
        font-size: 60px;
        text-align: left;
        font-weight:700;
        text-align: center;
    }
    .center{
        text-align: center;
    }
    .feature{
        text-align: center;
        font-size:14px;
    }
    
}

@media only screen and (min-width:992px)
{
    .student{
        height:400px;
        width:450px;
    }
    h1{
        font-size: 60px;
        text-align: left;
        font-weight:700;
    }
    .plan{
        height:120px;
    }
    .center{
        text-align: left;
    }
    .center1{
        text-align: center;
    }
    
}

@media only screen and (max-width:991.5px)
{
    .student{
        height:220px;
        width:250px;
    }
    .plan{
        height:80px;
    }
    .center1{
        text-align: center;
    }
}

.color1{
    background-color: rgb(249,156,128);
}

.color2{
    background-color: rgb(255,240,233);
}

.color3{
    color: rgb(164,155,155);
}

.color4{
    background-color: white;
}

mark{
    color:rgb(249,156,128);
    background-color: rgb(255,240,233); ;
}

.company{
    font-size:16px;
}

button{
    margin-bottom:20px;
}

